[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests

Environment="RKT_OPTS=--volume var-log,kind=host,source=/var/log --mount volume=var-log,target=/var/log --volume=usr-sbin,kind=host,source=/usr/sbin --mount=volume=usr-sbin,target=/usr/sbin"
Environment=KUBELET_VERSION={{ k8s_ver }}
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --cloud-provider=azure \
  --cloud-config=/etc/kubernetes/azure.json \
  --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml \
  --require-kubeconfig \
  --network-plugin-dir=/etc/kubernetes/cni/net.d \
  --network-plugin={{ network_plugin }} \
  --register-node=true \
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --cluster-dns={{ dns_service_ip }} \
  --cluster-domain=cluster.local \
  --node-labels=component_type=node
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
