[Service]
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests

Environment="RKT_OPTS=--volume var-log,kind=host,source=/var/log --mount volume=var-log,target=/var/log"
Environment=KUBELET_VERSION={{ k8s_ver }}
ExecStart=/kubelet \
  --cloud-provider=azure \
  --cloud-config=/etc/kubernetes/azure.json \
  --reconcile-cidr=true \
  --api-servers=http://127.0.0.1:8080 \
  --network-plugin-dir=/etc/kubernetes/cni/net.d \
  --network-plugin={{ network_plugin }} \
  --register-schedulable=false \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override={{ ansible_default_ipv4.address }} \
  --cluster-dns={{ dns_service_ip }} \
  --cluster-domain=cluster.local \
  --node-labels=component_type=master
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
