[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/lib/cni
ExecStartPre=/usr/bin/mkdir -p /etc/cni/net.d
ExecStartPre=/usr/bin/mkdir -p /opt/cni/bin
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid

Environment="RKT_RUN_ARGS=--insecure-options=image --uuid-file-save=/var/run/kubelet-pod.uuid --volume var-cni,kind=host,source=/var/lib/cni --mount volume=var-cni,target=/var/lib/cni --volume etc-cni,kind=host,source=/etc/cni/net.d --mount volume=etc-cni,target=/etc/cni/net.d --volume bin-cni,kind=host,source=/opt/cni/bin --mount volume=bin-cni,target=/opt/cni/bin --volume var-log,kind=host,source=/var/log --mount volume=var-log,target=/var/log --volume lib-modules,kind=host,source=/lib/modules --mount volume=lib-modules,target=/lib/modules --volume etc-resolv,kind=host,source=/etc/resolv.conf --mount volume=etc-resolv,target=/etc/resolv.conf"
Environment=KUBELET_IMAGE_TAG={{ k8s_ver_bare }}
Environment=KUBELET_IMAGE_URL=docker://gcr.io/google_containers/hyperkube
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --feature-gates=ExperimentalCriticalPodAnnotation=true \
  --cloud-provider=azure \
  --cloud-config=/etc/kubernetes/azure.json \
  --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml \
  --container-runtime=docker \
  --cni-conf-dir=/etc/cni/net.d \
  --cni-bin-dir=/opt/cni/bin \
  --network-plugin={{ network_plugin }} \
  --register-node=true \
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --cluster-dns={{ dns_service_ip }} \
  --cluster-domain=cluster.local \
  --client-ca-file=/etc/kubernetes/ssl/ca.pem \
  --anonymous-auth=false \
  --image-gc-high-threshold=85 \
  --image-gc-low-threshold=75 \
  --eviction-max-pod-grace-period=600 \
  --eviction-minimum-reclaim="memory.available=350Mi,imagefs.available=2Gi,nodefs.available=2Gi" \
  --eviction-soft="memory.available<300Mi,nodefs.available<14%,nodefs.inodesFree<14%,imagefs.available<14%,imagefs.inodesFree<14%" \
  --eviction-soft-grace-period="memory.available=1m30s,nodefs.available=1m30s,imagefs.available=1m30s,nodefs.inodesFree=1m,imagefs.inodesFree=1m" \
  --eviction-hard="memory.available<250Mi,nodefs.available<10%,nodefs.inodesFree<10%,imagefs.available<10%,imagefs.inodesFree<10%" \
  --node-labels=component_type=node,node-role.kubernetes.io/node="true"
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
